# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
*.tsbuildinfo

# Environment & secrets
.env
.env.local
.env.*.local
!env.docker.example
!.env.example

# Database
*.db
*.db-journal
**/prisma/dev.db

# Backups
backups/

# Logs
*.log
logs

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
